@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
* {
  cursor: url("/imgs/cursor.cur"), auto;
}

nav :hover {
  cursor: url("/imgs/cursor2.cur"), auto;
}
